.banks {
    &__container {
        margin-bottom: 30px;
    }
    .container-large {
        position: relative;
        padding: 65px 0;
        background-color: var(--bg-white);
        box-shadow: 0px 8px 64px rgba(0, 0, 0, 0.08);
    }
    &__marquee {
        margin-top: 15px;
        font-size: 12px;
        font-weight: 700;
        color: #acacac;
        text-transform: uppercase;
    }
}


.bank-slider {
    height: 60px;
    .swiper-slide {
        width: auto;
        display: flex;
        align-items: center;
    }
    &__item {
        display: flex;
        align-items: center;
        text-decoration: none;
        &:hover {
            .bank-slider__promo {
                &::before {
                    opacity: 1;
                    width: 100%;
                    transition: all .3s ease-in-out;
                }
            }
        }
    }
    &__logo {
        margin-right: 10px;
        img {
            display: block;
        }
    }
    &__promo {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 24px;
        color: #5A5A5A;
        &::before {
            opacity: 0;
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            border-bottom: 2px solid var(--accent);
            transition: all .3s ease-in-out;
        }
    }
}
