.burger {
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 48px;
    height: 48px;
    transition: all .3s ease-in-out;
    svg {
        fill: var(--text-color);
        transition: all .3s ease-in-out;
    }
    &:hover {
        transition: all .3s ease-in-out;
        svg {
            fill: var(--accent);
            transition: all .3s ease-in-out;
        }
    }
}