.contacts {
    position: relative;
    padding: 20px 0 0;
    margin-bottom: -130px;
    .container-large {
        background-color: var(--bg-white);
        background-image: url(/img/dist/contacts/contacts-bg.png);
        background-repeat: no-repeat;
        background-position: right bottom;
    }
    &__title {
        margin-bottom: 120px;
        text-align: center;
    }
    &__container {
        display: flex;
        width: 100%;
    }
    &__map {
        width: 100%;
        .map {
            width: 100%;
            height: 100%;
            background-color: wheat;
        }
    }
    &__body {
        flex: 0 0 580px;
    }
}

.contact-info {
    padding: 80px 120px 25px 125px;
    &__logo {
        display: flex;
        margin-bottom: 45px;
    }
}

.contact-list {
    margin-bottom: 55px;
    &__item {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    &__phone {
        margin-bottom: 5px;
    }
    &__phone-link {
        font-weight: 900;
        font-size: 24px;
        line-height: 1;
        letter-spacing: 0.03em;
        color: var(--text-color);
        &:hover {
            color: var(--accent);
        }
    }
    &__phone-desc {
        display: inline-flex;
        cursor: pointer;
        position: relative;
        font-weight: 900;
        font-size: 12px;
        line-height: 24px;
        color: var(--accent);
        text-transform: uppercase;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 3px;
            width: 100%;
            height: 1px;
            border-bottom: 1px dashed var(--accent);
        }
        &:hover {
            color: var(--accent-hover);
            &::before {
                border-bottom: 1px dashed var(--accent-hover);
            }
        }
    }
    &__address {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    &__work-time {
        font-size: 16px;
        line-height: 24px;
    }
}

.contact-socials {
    &__title {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.03em;
        margin-bottom: 10px;
    }
    &__list {
        max-width: 270px;
        position: relative;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 15px;
        gap: 15px;
    }
    &__item {
        &_vk {
            .contact-link {
                &__icon {
                   background-image: url(/img/dist/contacts/vk.png);
                }
            }
        }
        &_instagram {
            .contact-link {
                &__icon {
                   background-image: url(/img/dist/contacts/instagram.png);
                }
            }
        }
        &_facebook {
            .contact-link {
                &__icon {
                   background-image: url(/img/dist/contacts/facebook.png);
                }
            }
        }
        &_whatsapp {
            .contact-link {
                &__icon {
                   background-image: url(/img/dist/contacts/whatsapp.png);
                }
            }
        }
        &:hover {
            &.contact-socials__item_vk {
                .contact-link {
                    max-width: 270px;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    display: flex;
                    border-radius: 30px;
                    background-color: #1180FF;
                    &__icon {
                        background-image: url(/img/dist/contacts/vk-hover.png);
                        background-color: #0077FF;
                        margin-right: 10px;
                    }
                    &__text {
                        display: flex;
                        opacity: 1;
                    }
                }
            }
            &.contact-socials__item_instagram {
                .contact-link {
                    max-width: 270px;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    display: flex;
                    border-radius: 30px;
                    background-color: #833AB4;
                    &__icon {
                        background-image: url(/img/dist/contacts/instagram-hover.png);
                        background-color: #B864DF;
                        margin-right: 10px;
                    }
                    &__text {
                        display: flex;
                        
                        opacity: 1;
                    }
                }
            }
            &.contact-socials__item_facebook {
                .contact-link {
                    flex-direction: row-reverse;
                    max-width: 270px;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    display: flex;
                    border-radius: 30px;
                    background-color: #375fc1;
                    &__icon {
                        background-image: url(/img/dist/contacts/facebook-hover.png);
                        background-color: #3D6AD6;
                        margin-left: 10px;
                    }
                    &__text {
                        display: flex;
                        
                        opacity: 1;
                    }
                }
            }
            &.contact-socials__item_whatsapp {
                .contact-link {
                    flex-direction: row-reverse;
                    max-width: 270px;
                    width: 100%;
                    position: absolute;
                    right: 0;
                    display: flex;
                    border-radius: 30px;
                    background-color: #77C974;
                    &__icon {
                        background-image: url(/img/dist/contacts/whatsapp.png);
                        background-color: #64B161;
                        margin-left: 10px;
                    }
                    &__text {
                        display: flex;
                        
                        opacity: 1;
                    }
                }
            }
        }
        
    }
    &__link {}
}

.contact-link {
    display: block;
    text-decoration: none;
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 56px;
        height: 56px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #F6F6F6;
        border-radius: 50%;
    }
    &__text {
        display: none;
        opacity: 0;
        font-size: 18px;
        line-height: 24px;
        color: var(--text-white);
        align-items: center;
    }
}


.contact-form {
    padding: 75px 0 65px;
    &__title {
        font-weight: 900;
        font-size: 32px;
        line-height: 1;
        margin-bottom: 35px;
    }
    &__form {
        max-width: 1170px;
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
    }
    &__field {
        &_radio {margin-right: 30px;}
        &_name {margin-right: 30px;}
        &_phone {margin-right: 30px;}
        &_submit {}
        &_agree {
            width: 100%;
        }
        
    }
    &__field-label {
        font-weight: 700;
        font-size: 11px;
        line-height: 1;
        margin-bottom: 8px;
        text-transform: uppercase;
    }
    &__input-text {
        max-width: 210px;
        width: 100%;
        font-style: normal;
        font-size: 18px;
        line-height: 28px;
        border: none;
        background: #F6F6F6;
        border-radius: 4px;
        padding: 14px 20px;
        &::placeholder {
            font-style: italic;
            color: #acacac;
        }
    }
    &__submit {
        cursor: pointer;
        border: none;
        padding: 16px 55px;
    }
    &__agree {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 45px;
        .check-box {
            max-width: 207px;
            display: flex;
            margin-top: 0;
            .check-box__label {
                line-height: 1.3;
            }
        }
    }
    &__agree-text {
        max-width: 800px;
        width: 100%;
    }
}

.radio-group {
    display: flex;
    &__field {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
    &__input-radio {
        appearance: none;
        position: absolute;
        opacity: 0;
        width: inherit;
        height: inherit;
        margin: 0;
        padding: 0;
        &:checked + .radio-group__label {
            background-color: #DAFFE6;
            color: rgba(58, 178, 96, 0.4);
            border: 1px dashed #DAFFE6;
        }
    }
    &__label {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 900;
        font-size: 16px;
        line-height: 28px;
        padding: 13px 20px;
        color: var(--accent);
        border: 1px dashed var(--accent);
        border-radius: 4px;
        transition: all .3s ease-in-out;
        &:hover {
            background-color: #DAFFE6;
            color: rgba(58, 178, 96, 0.4);
            border: 1px dashed #DAFFE6;
            transition: all .3s ease-in-out;
        }
    }

}

