
@media screen and (max-width: 1695px) {
    .header__container {
        justify-content: space-between;
        max-width: 1695px;
        padding: 40px 15px;
    }
    .header__logo {
        margin-right: 0;
    }
    .header-contacts {
        margin-left: 0;
    }
}
@media screen and (max-width: 1665px) {

    .big-block__decor_top-left,
    .big-block__decor_bottom-right {
        display: none;
    }
    .about-project {
        margin-bottom: 0;
    }
    .advantages {
        padding: 120px 0 120px;
    }
}

@media screen and (max-width: 1650px) {
    .nav__item:not(:last-child) {
        margin-right: 30px;
    }
    .project-map__description {
        right: 30px;
    }
}
@media screen and (max-width: 1520px) {
    
    .flats__slider {
        margin: 0 40px;
    }
}

@media screen and (max-width: 1480px) {
    .flats-nav {
        padding-left: 15px;
    }
    .advantage-tips__item {
        display: flex;
    }
    .hero__container {
        padding: 200px 15px 110px 15px;
    }
    .header__container {
        padding: 30px 15px;
    }
    .header__logo {
        max-width: 140px;
    }
    .nav__item:not(:last-child) {
        margin-right: 25px;
    }
    .nav__link {
        font-size: 16px;
        line-height: 22px;
    }
    .header-contacts__phone {
        font-size: 16px;
        line-height: 22px;
    }
    .header-contacts__callback {
        font-size: 16px;
        line-height: 22px;
        padding: 0 0 0 20px;
        background-size: 14px;
    }
    .header-contacts__promotion {
        font-size: 12px;
        line-height: 22px;
        padding: 12px 45px;
    }
}
@media screen and (max-width: 1400px) {
    .slide-card {
        padding: 30px 30px;
    }
    .slider-nav .swiper-button-prev, .slider-nav .swiper-button-next {
        --swiper-navigation-size: 60px;
        width: 60px;
        height: 60px;
    }
}
@media screen and (max-width: 1355px) {
    .advantage-tips {
        max-width: 930px;
        grid-template-columns: repeat(2,1fr);
        margin: 0 auto 90px;
    }
    .project-map__description {
        top: auto;
        bottom: 30px;
        transform: none;
    }
}
@media screen and (max-width: 1325px) {
    .flats-nav__icon {
        margin: 0 25px 0 -14px;
    }
    .flats-nav__title {
        font-size: 22px;
        line-height: 28px;
    }
}
@media screen and (max-width: 1300px) {
    .project-map__badge {
        max-width: 450px;
        padding: 70px 55px 70px 80px;
        background-size: contain;
        background-position: right;
    }
    .header-contacts__container {
        flex-direction: column;
        align-items: flex-start;
        margin-right: 15px;
    }
    .header-contacts__phone {
        margin-right: 0;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 1250px) {
    .slide-card__header {
        flex-direction: column;
    }
    .slide-card__image,
    .slide-card__specs {
        flex: auto;
    }
    .slide-card__image {
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .slide-card__specs {
        max-width: 100%;
        width: 100%;
        margin-top: 0;
    }
    .fits-list {
        grid-gap: 15px;
        gap: 15px;
    }
    .advantage-list {
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (max-width: 1215px) {
    .flats-nav__icon {
        margin: 0 15px 0 -14px;
    }
    .flats-nav__title {
        font-size: 18px;
        line-height: 24px;
    }
    .flats-nav__description {
        font-size: 14px;
        line-height: 28px;
    }
    .flats-nav__link {
        padding: 20px 20px 20px 0;
    }
}
@media screen and (max-width: 1200px) {
    /* 90 */
    .flats-nav {
        margin-bottom: 30px;
    }
    .project-map__badge {
        max-width: 350px;
        padding: 40px 30px;
        background-image: none;
    }
    .choose-layout {
        padding: 90px 0;
        margin-bottom: 90px;
    }
    .about-apartments {
        padding: 0 0 200px 0;
    }
    .advantages {
        padding: 90px 0;
    }
    .section-title {
        font-size: 62px;
        line-height: 1.1;
    }
}
@media screen and (max-width: 1140px) {
    .nav__item:not(:last-child) {
        margin-right: 15px;
    }
}
@media screen and (max-width: 1100px) {
    .header__logo {
        max-width: 130px;
    }
    .header-contacts__promotion {
        display: none;
    }
}
@media screen and (max-width: 1060px) {
    .flats-nav {
        display: none;
    }
    .flats-header__nav-slider {
        display: block;
    }
    .flats-nav__item {
        padding: 0 15px;
        margin-bottom: 30px;
    }
    .flats-nav__link {
        max-width: 360px;
    }
}
@media screen and (max-width: 1000px) {
    
    .fits-list {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 950px) {
    .slide-card__description {
        font-size: 16px;
        line-height: 26px;
    }
    .slide-card__sub-title {
        font-size: 16px;
        line-height: 26px;
    }
    .fits-list__item {
        font-size: 16px;
        &::before {
            width: 4px;
            height: 4px;
            top: 8px;
        }
    }
    .about-project {
        display: none;
    }
    .hero__slogan {
        max-width: 500px;
    }
    .hero__description {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 30px;
    }
    .hero__container {
        padding: 160px 15px 80px 15px;
    }
    .header__logo {
        max-width: 110px;
    }
    .nav__link {
        font-size: 14px;
        line-height: 20px;
    }
    .header-contacts__phone,
    .header-contacts__callback {
        font-size: 14px;
        line-height: 20px;
    }
    .header__container {
        padding: 20px 15px;
    }
}

@media screen and (max-width: 910px) {
    
    .apartment-description__title {
        font-size: 28px;
    }
    .apartment-description__sub-title,
    .apartment-description__text {
        font-size: 20px;
        line-height: 28px;
    }
    .apartment-description__sub-title {
        margin-bottom: 30px;
    }
    .section-title {
        font-size: 56px;
    }
    .advantage-tips {
        max-width: 450px;
        grid-template-columns: 1fr;
        margin: 0 auto 90px;
    }
    .advantage-list {
        max-width: 690px;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
    }
}

@media screen and (max-width: 850px) {
    .flats-nav__item {
        flex: 0 0 50%;
    }
    .flat-slider {
        max-width: 690px;
        margin: 0 auto;
    }
    .fits-list {
        grid-template-columns: repeat(2,1fr);
    }
    .slide-card__header {
        flex-direction: row;
        margin-bottom: 30px;
    }
    .slide-card__image, .slide-card__specs {
        flex: 0 0 calc(50% - 15px);
    }
    .slide-card__specs {
        margin-top: -8px;
    }
    .nav {
        display: none;
    }
    .burger {
        display: flex;
    }
    .header__container {
        justify-content: flex-start;
    }
    .header-contacts {
        margin-left: auto;
    }
    .header-contacts__container {
        flex-direction: row;
    }
    .header-contacts__phone {
        margin-right: 15px;
        margin-bottom: 0;
    }
}
@media screen and (max-width: 745px) {
    .flats-nav {
        display: none;
    }
    .flats-header__more {
        justify-content: center;
    }
}

@media screen and (max-width: 700px) {
    /* 60 */
    .big-block__decor_bottom-left,
    .big-block__decor_top-right {
        display: none;
    }
    .slide-card__header {
        flex-direction: column;
    }
    .slide-card__title {
        text-align: center;
        font-size: 20px;
        line-height: 30px;
    }
    .slide-card__image, .slide-card__specs {
        flex: 0 0 auto;
    }
    .section-title {
        font-size: 48px;
    }
    .advantages__title {
        margin-bottom: 60px;
    }
    .advantage-tips {
        margin: 0 auto 60px;
    }
    .tips-card__title {
        font-size: 28px;
    }
    .advantage-list__text {
        font-size: 16px;
    }
}

@media screen and (max-width: 550px) {
    .slide-card__more {
        margin: 0 auto;
    }
    .advantages__title.section-title {
        font-size: 34px;
    }
    .section-title {
        font-size: 36px;
    }
    
}
@media screen and (max-width: 500px) {
    .slider-nav .swiper-pagination {
        display: block;
    }
    .flats__slider {
        margin: 0;
    }
    .slider-nav .swiper-button-prev, .slider-nav .swiper-button-next{
        display: none;
    }
    .advantage-list {
        max-width: 330px;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        gap: 30px;
    }
    .hero__logo {
        margin-bottom: 10px;
    }
    .header__container {
        padding: 15px;
    }
    .header-contacts__container {
        flex-direction: column;
    }
    .header-contacts__phone {
        margin-right: 0;
        margin-bottom: 5px;
    }
}
@media screen and (max-width: 450px) {
    .fits-list {
        grid-template-columns: 1fr;
    }
    .slide-card {
        padding: 30px 15px
    }
    .tips-card {
        padding: 30px 25px 25px;
    }
    .tips-card__title {
        font-size: 24px;
    }
    .tips-card__description {
        font-size: 16px;
        line-height: 22px;
    }
}